<ion-header>
  <ion-toolbar>
    <ion-title>Mes livraisons</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="isLoading">
  <ion-grid id="container">
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        <ion-spinner color="primary"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-content *ngIf="!isLoading && myTour !== null && myTour.beginAt !== null && myTour.steps.length > 0 && !endOfDeliveries">
  <ion-grid >
    <ion-row  *ngFor="let item of myTour.steps">
      <ion-col>
        <ion-card *ngIf="item.leaveAt === null" (click)="goToStep(item.id)">
          <ion-card-header *ngIf="item.leaveAt === null">
            <ion-card-title>{{ item.label }}</ion-card-title>
            <ion-card-subtitle>
              {{ item.foreseenArrival | timeLocal }}
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            {{ item.recapToDeliver }} palettes
          </ion-card-content>
          <!-- <ion-card-content *ngFor="let order of item.orders">
            {{ order.details.details[0].palets }} palettes
          </ion-card-content> -->
        </ion-card>
      </ion-col>

    </ion-row>
    <ion-col *ngIf="myTour !== null && myTour.beginAt === null" id="container">
      <ion-button expand="block" color="secondary" (click)="beginTour(myTour.id)">
        <ion-icon slot="start" name="caret-forward-outline"></ion-icon>
        Commencer ma tournée
      </ion-button>
    </ion-col>
  </ion-grid>
</ion-content>

<ion-content *ngIf="!isLoading && myTour !== null && myTour.beginAt === null">
  <ion-grid id="container">
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="secondary" (click)="beginTour(myTour.id)">
          <ion-icon slot="start" name="caret-forward-outline"></ion-icon>
          Commencer ma tournée
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


<ion-content *ngIf="!isLoading && myTour === null">
  <ion-grid>
    <ion-row>
      <ion-col id="container">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Vous n'avez pas de tournée prévue ce jour.</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


<ion-content *ngIf="!isLoading && myTour !== null && myTour.beginAt !== null && endOfDeliveries">
  <ion-grid>
    <ion-row>
      <ion-col id="container">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Vous avez terminé vos livraisons du jour</ion-card-title>
          </ion-card-header>
        </ion-card>
        <ion-button *ngIf="myTour.endAt === null" expand="block" size="large" color="primary" (click)="endTour(myTour.id)">
          <ion-icon slot="start" name="flag-outline"></ion-icon>
          Terminer ma tournée
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
