<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="step-list">
      <ion-label>Mes étapes</ion-label>
      <ion-icon name="today-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="anomaly">
      <ion-label>Anomalie</ion-label>
      <ion-icon name="alert-circle-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="my-profile">
      <ion-label>Profil</ion-label>
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
