<ion-header>
  <ion-toolbar>
    <ion-title>Mon profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="isLoading" id="container">
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        <ion-spinner color="primary"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="!isLoading && user" id="container">
    <ion-row>
      <ion-col>
        <img class="card_avatar" src="https://randomuser.me/api/portraits/men/{{ user.id }}.jpg">
      </ion-col>
    </ion-row>

    <ion-col>
      <ion-list lines="inset">
        <ion-item-group>
          <ion-item-divider>
            <ion-label>
              <h2>Informations personnelles</h2>
            </ion-label>
          </ion-item-divider>
          <ion-item>
            <ion-label>NOM</ion-label>
            <ion-note slot="end">{{ user.lastName.toUpperCase() }}</ion-note>
          </ion-item>
          <ion-item>
            <ion-label>Prénom</ion-label>
            <ion-note slot="end">{{ user.firstName.toUpperCase() }}</ion-note>
          </ion-item>
          <ion-item>
            <ion-label>Email</ion-label>
            <ion-note slot="end">{{ user.email }}</ion-note>
          </ion-item>
        </ion-item-group>

      </ion-list>

    </ion-col>
    <ion-col>
      <ion-button expand="block" color="primary" (click)="onLogout()">
        <ion-icon slot="start" name="power-outline"></ion-icon>
          Me déconnecter
      </ion-button>
    </ion-col>
  </ion-grid>
</ion-content>
