<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places/tabs/offers"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ step.label }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid *ngIf="isLoading" id="container">
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        <ion-spinner color="primary"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-col *ngIf="step !== null && step.arrivedAt === null" id="container">
    <ion-button expand="block" color="primary" (click)="markAsArrived()">
      <ion-icon slot="start" name="caret-forward-outline"></ion-icon>
      Arrivée
    </ion-button>
  </ion-col>

  <ion-col *ngIf="step !== null && step.startAt === null && step.arrivedAt !== null" id="container">
    <ion-button expand="block" color="primary" (click)="startDelivery()">
      <ion-icon slot="start" name="caret-forward-outline"></ion-icon>
      Commencer le déchargement
    </ion-button>
  </ion-col>

  <ion-grid *ngIf="step !== null && step.endAt === null && step.startAt !== null">
    <form [formGroup]="deliveryForm" (ngSubmit)="markAsDelivered()">
    <ion-row *ngFor="let order of step.orders">
      <ion-col>
        <!-- <ion-item-group>
          <ion-item-divider color="primary">
            <ion-label>Référence : {{ order.reference }}</ion-label>
          </ion-item-divider>
          <ion-item>
            <ion-label>Palettes</ion-label>
          </ion-item>
          <ion-item>
            <ion-button slot="start" (click)="removePalet(order.id)">
              <ion-icon slot="icon-only" name="remove-outline"></ion-icon>
            </ion-button>
            <ion-input
            type="number"
            required="true"
            class="ion-text-center"
            ngModel
            name="data"
            min="0"
            value="{{ order.details.details[0].palets }}">
          </ion-input>
          <ion-button slot="end" (click)="addPalet(order.id)">
            <ion-icon slot="icon-only" name="add-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-item-group> -->
      <ng-container formArrayName="palets">
        <ion-item-group *ngFor="let order of paletsForm.controls; let i=index" [formGroupName]="i">
          <ion-item-divider color="primary">
            <ion-label>Référence : {{ order.value.reference }}</ion-label>
          </ion-item-divider>
          <ion-item>
            <ion-label>Palettes</ion-label>
          </ion-item>
          <ion-item>
            <ion-button slot="start" color="danger" (click)="removePalet(i)">
              <ion-icon slot="icon-only" name="remove-outline"></ion-icon>
            </ion-button>
            <ion-input
            type="number"
            required="true"
            class="ion-text-center"
            formControlName="paletsQty">
          </ion-input>
          <ion-button slot="end" color="success" (click)="addPalet(i)">
            <ion-icon slot="icon-only" name="add-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-item-group>
      </ng-container>


    </ion-col>
  </ion-row>
  <ion-col>
    <ion-item-group>
      <ion-item-divider class="ion-margin-top" color="primary">
        <ion-label>Signataire</ion-label>
      </ion-item-divider>
      <ion-list>
        <ion-item>
          <ion-select placeholder="Selectionnez le signataire" formControlName="signatory" #signatory>
            <ion-select-option *ngFor="let sign of signatories" [value]="sign.label">{{ sign.label }}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-item-group>
  </ion-col>
  <ion-row >
    <ion-col>
      <ion-item-group>
        <ion-item-divider class="ion-margin-top" color="primary">
          <ion-label>Signature</ion-label>
        </ion-item-divider>
        <ion-item>
          <div class="signature_pad">
            <canvas #canvas></canvas>
          </div>

        </ion-item>
      </ion-item-group>
    </ion-col>
    <ion-col size="12" class="ion-text-center">
      <ion-button color="secondary" (click)="clearPad()">
        Recommencer
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label>Refus de signature</ion-label>
        <ion-toggle color="danger" formControlName="signatureRefused" #signatureRefused></ion-toggle>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-col>
    <ion-button class="ion-margin-top" expand="block" color="primary" type="submit">
      <ion-icon slot="start" name="caret-forward-outline"></ion-icon>
      Terminer
    </ion-button>
  </ion-col>
</form>
</ion-grid>

<ion-col *ngIf="step !== null && step.leaveAt === null && step.endAt !== null" id="container">
  <ion-button expand="block" color="primary" (click)="markAsLeft()">
    <ion-icon slot="start" name="caret-forward-outline"></ion-icon>
    Quitter
  </ion-button>
</ion-col>

</ion-content>
