#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
canvas {
  display: block;
  border: 1px solid rgb(187, 178, 178);

}
.signature_pad{
  margin-top: 10px;
}
